pandas==2.3.0
numpy==1.26.4
scikit-learn==1.7.0
matplotlib==3.10.3
statsmodels==1.17.0
shapely==2.1.0
geopandas==0.14.0
telethon ==1.40.0
requests==2.32.4
beautifulsoup4==4.13.4
dotenv==1.0.0
pillow==9.5.0
openpyxl==3.1.5
pytesseract==0.3.10


# Note: The versions specified here are examples and may not reflect the latest versions available.

